<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Acme Corporation</title>
		<link rel="icon" href="app.ico">
		<link rel="stylesheet" href="css/normalize.css">	
		<link rel="stylesheet" href="css/app.css">	
		<meta name="author" content="etoromol@cisco.com">
		<meta name="description" content="Example of Network database.">
	</head>
	<body>
		<div id="lga">
			<div id="topbar">
				<a class="title">Acme Corp. Network Dashboard</a>
				<button id="btn_nd" class="btn">New Device</button>
			</div>
			<div id="div_nb">
				<form action="./controllers/register.py">
				</form>
			</div>
			<div id="div_list">
				<table id=device_list>
					<tr>
						<th>Hardware</th>
						<th>System</th>
						<th>Version</th>
						<th>Hostname</th>
						<th>Operations</th>
					</tr>
					<tr>
						<td>CSR-1000v</td>
						<td>IOS XE</td>
						<td>16.09.06</td>
						<td>dev1</td>
						<td class="actions">🟢 access 🟢 backup</td>
					</tr>
					<tr>
						<td>ASR-1006</td>
						<td>IOS XE</td>
						<td>16.09.06</td>
						<td>dev2</td>
						<td class="actions">🟢 access 🟢 backup</td>
					</tr>
					<tr>
						<td>ISR-4331</td>
						<td>IOS XE</td>
						<td>16.09.06</td>
						<td>dev3</td>
						<td class="actions">🟢 access 🟢 backup</td>
					</tr>
					<tr>
						<td>ISR-2911</td>
						<td>IOS</td>
						<td>15.7(3)M10</td>
						<td>dev4</td>
						<td class="actions">🟢 access 🟢 backup</td>
					</tr>
				</table>
			</div>
			<footer id="footer">
				This
				<a class="white_text">App</a>
				is intent to used as educational material 🤓. You are welcome to 
				review the <a class="white_text">source_code</a> -> 
				<a class="white_text">click-here.</a>
			</footer>
		</div>
	</body>
</html>