.white_text {
	color: #fff;
	text-decoration: none;
}

.navy_text {
	background: #323940;
	text-decoration: none;
}

.actions {
	text-align: center;
}

#topbar {
	/*background: #1d1e26;*/
	height: 50px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#device_list {
	width: 100%;
	border-collapse: collapse;
}

#footer {
	/* font conf */
	color: rgba(255, 255, 255, .4);
    font-size: 11px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: .2px;
    text-align: center;
    padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -8px;
	-webkit-font-smoothing: antialiased;
}

body {
	/*background: rgb(42, 44, 55);*/
	font-family: "Fira Code", monospace;
}

footer {
	z-index: 10;
	position: fixed; 
    bottom: 0px; 
    background: rgb(42, 44, 55);
	width: 100%; 
    height: 30px; 
}

td, th {
  border: 1px solid #ccc;
  padding: 7px;
}

td {
	font-size: 14px;
}

td:hover {
background: #cccccc;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

th {

}