/* html5 elements */
body {
	font-family: "Fira Code", monospace;
}

a {
	text-decoration: none;
} 

a:hover {
	color: #50fa7b;
}

td, th {
	border: 1px solid #ccc;
	padding: 7px;
} 

td {
	font-size: 14px;
} 

td:hover {
	background: #1d1e26;
	color: #fff;
} 

th {
	font-size: 13px;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

footer {
	z-index: 10;
	position: fixed; 
    bottom: 0px; 
    background: #1d1e26;
	width: 100%; 
    height: 30px; 
}

/* classes */
.blue_text {
	text-decoration: none;
	color: #00bceb;
}

.dark_blue_text {
	text-decoration: none;
	color: #014468;
}

.darker_blue_text {
	text-decoration: none;
	color: #1d1e26;
}

.center_text {
	text-align: center;
}

/* elements */
#topbar {
	z-index: 10;
	background: #1d1e26;
	height: 50px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#device_list {
	width: 100%;
	border-collapse: collapse;
}

#footer {
	color: rgba(255, 255, 255, .4);
    font-size: 11px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: .2px;
    text-align: center;
    padding-top: 5px;
	padding-bottom: 5px;
	-webkit-font-smoothing: antialiased;
}